html, body {
  height: 100%;
  margin: 0; 
  overflow: auto; /* Sayfa taşmasını önlemek için */
}

#root {
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0; 
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Homepage css içeriği*/

html, body {
  height: 100%;
  margin: 0; 
}

.homepage-wrapper {
  position: relative;
  height: 100vh; 
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%; 
  width: 100%; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  color: white; 
  text-align: center;
}

.homepage-logo {
  width: 100%; 
  max-width: 361.93px; 
  height: auto; 
}

.homepage-title {
  font-family: 'Roboto Condensed', sans-serif; 
  font-weight: 300;
  font-size: 86px; 
  margin-bottom: 1.5rem;
}

.pizza-doyurur {
  display: inline; 
}

.homepage-button {
  width: 100%; 
  max-width: 193.27px; 
  height: 8vh; 
  border-radius: 50px; 
  background-color: #FDC913; 
  font-family: 'Barlow';
  font-size: 18px; 
  font-weight: 600; 
  color: #292929; 
  border: none; 
  cursor: pointer; 
  
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.homepage-button:hover {
  background-color: #e0e0e0; 
}

.homepage-content {
  padding: 100px; 
  width: 100%; 
  max-width: 892px; 
  height: auto; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  border-radius: 10px; 
  box-sizing: border-box; 
  position: relative; 
}

/* OrderForm sayfası*/

.order-form-header {
  background-color: #CE2829; 
  width: 100%; 
  height: auto; 
  min-height: 60px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding: 10px; 
  box-sizing: border-box; 
}

.order-form-nav {
  padding-left: 20px;  /* Sol taraftan 613px boşluk */
  padding-right: 20px; /* Sağ taraftan 613px boşluk */
  color: white; 
  font-size: 16px;
  text-align: left; /* Metni sola hizala */
  width: 100%;/* Toplam genişlikten 613px soldan ve 613px sağdan çıkar */
}

.bold-text {
  font-weight: bold; /* Yazıyı kalın yap */
 }

 .order-form-main {
  padding: 20px; /* İçerik alanının etrafında boşluk bırakır */
  color: black; /* Yazı rengini siyah yap */
  overflow: auto; /* Taşan içerikleri gizlemek için */
  font-family: 'Barlow', sans-serif; /* Yazı tipini Barlow olarak ayarla */
  font-size: 16px;
  font-weight: normal; /* Regular ağırlık */
  display: flex; /* Flexbox kullanarak içerikleri düzenle */
  flex-direction: column; /* Dikey olarak hizala */
  align-items: center; /* Ortala */
  justify-content: flex-start; /* Üstten başlayarak yerleştir */
  height: calc(100vh - 60px); /* Header yüksekliğini çıkararak ayarla */
  box-sizing: border-box; /* Padding'in genişlik ve yükseklik hesaplamalarına dahil edilmesini sağlar */
  padding-left: 613px;  /* Sol taraftan 613px boşluk */
  padding-right: 613px; /* Sağ taraftan 613px boşluk */
  text-align: left;
  

}

.order-form-main h1 {
  font-weight: 600; /* SemiBold için 600 değeri kullanılır */
  font-size: 22px; /* Yazı boyutunu 22px olarak ayarla */
  margin: 0; /* Varsayılan margin değerini sıfırla */
}

.price-rating-container {
  display: flex; /* Flexbox kullanarak öğeleri yan yana hizala */
  align-items: center; /* Dikey olarak ortala */
  margin: 10px 0; /* Üst ve alt boşluk ekle */
}

.price {
  text-align: left; /* Fiyatı sola hizala */
  margin-right: auto;
  font-weight: bold;
  font-size: 28px;
  
}

.rating {
  text-align: center; /* Derecelendirmeyi ortala */
  margin: 0 40px;
  font-weight: normal;
 
}

.likes {
  text-align: right; /* Beğeni sayısını sağa hizala */
  margin-left: 0;
  font-weight: normal;
 
}

.selection-container {
  display: flex; /* Flexbox kullanarak yan yana hizala */
  justify-content: flex-start; /* Alanı eşit şekilde dağıt */
  align-items: flex-start;
  margin-bottom: 20px; /* Altına boşluk ekle */
  
}

.size-options {
  display: flex; /* Flexbox kullanarak boyut seçeneklerini yan yana hizala */
  flex-direction: column; /* Seçenekleri dikey olarak hizala */
}

.selection-container > div {
  margin-right: 50px; /* Seçenekler arasında sağdan boşluk bırak */
  
}


/* mobil görünüm ayarları */
@media (max-width: 768px) {
  .homepage-logo {
      width: 50%; 
      max-width: 200px; 
  }

  .homepage-title {
      font-size: 24px; 
      line-height: 1.2; 
      text-align: center; 
  }

  .kod, .homepage-title span {
      display: block; 
  }

  .homepage-button {
      width: 60%; 
      font-size: 4vw;
  }

  .homepage-content {
      width: 100%;
      padding: 60px; 
  }

  .pizza-doyurur {
      display: block; 
      margin-top: 0.5em;
  }

  .order-form-header {
    height: 15vh; /* Mobil görünümde yükseklik azaltıldı */
    
  }

  .order-form-nav {
    padding-left: 20px;  /* Sol taraftan 20px boşluk */
    padding-right: 20px; /* Sağ taraftan 20px boşluk */
    width: calc(100% - 40px); /* Toplam genişlikten 20px soldan ve 20px sağdan çıkar */
    font-size: 14px; /* Yazı boyutunu küçült */
  }

  .logo {
    height: 4em; /* Mobil görünümde logo boyutu azaltıldı */
  }

  .order-form-main {
    height: calc(85vh - 15vh); /* Header yüksekliğini çıkararak ayarla */
    padding: 10px; /* Mobil görünümde padding azaltıldı */
    overflow: auto;
    padding-left: 20px;  /* Sol taraftan 20px boşluk */
    padding-right: 20px; /* Sağ taraftan 20px boşluk */
    text-align: left;
  }

}

@media (min-width: 769px) {
  .homepage-title {
      letter-spacing: 0.1em; 
  }
}